[submodule "RoboFSR2/external/FidelityFX-FSR2"]
	path = RoboFSR2/external/FidelityFX-FSR2
	url = https://github.com/GPUOpen-Effects/FidelityFX-FSR2.git
[submodule "RoboFSR2/external/nvngx_dlss_sdk"]
	path = RoboFSR2/external/nvngx_dlss_sdk
	url = https://github.com/PotatoOfDoom/DLSS.git
